.product_main{
  width: 100vw;
  height: 75vh;
  background-color: white;
}
.product_image{
  flex: 2;
  margin: 0px;
}
.product_image_background {
  height: 100%;
  margin: 0px;
  background: rgba(238,251,248,1);
  overflow: hidden;
}
.product_image_background_circle_outer{
  width: 211px;
    height: 210px;

    opacity: 1;
    margin: auto;
    border-radius: 50%;
}
.product_image_background_circle_inner{
  width: 150px;
    height: 150px;

    opacity: 1;
    margin: auto;
    border-radius: 50%;
}
.product_image_image{
  position: sticky;
}
#img{
  position: absolute;
  top: 0px;
  left: -74px;
  transform: rotate(-29deg);
  overflow: hidden;
  max-width: 278px;
  max-height: 384px;
  transition: all 10s linear;
}
.back_to_search {
  margin: 5px 0px;
}
.favourite {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: linear-gradient(180deg, #D53D5E 0%, #8B283D 100%);
  color: white;
  line-height: 17px;
  font-size: 20px;
  margin-right: 20px;
}
.reviews {
  margin: 0px 20px;
}
.product_description {
  flex: 1;
  margin: 35px 22px;
}
.product_title {
  font-family: Poppins;
    font-weight: 600;
    font-size: 20px;
    line-height: 27.1px;
    letter-spacing: 0.5px;
}
.product_subtitle {
  font-family: Poppins;
  font-weight: 400;
  letter-spacing: 0.5px;
}
.product_price {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 135%;
  background-clip: inherit;
  background: -webkit-linear-gradient(180deg, #D53D5E 0%, #8B283D 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.product_description_title {
  font-family: Nunito;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 29px;
}
.filler {
  flex: 1 auto;
}
.product_info {
  font-family: Poppins;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.5px;
  color: #C2C2C2;
}

.product_color_list{
  width: 30px;
  height: 30px;
  opacity: 1;
  border-radius: 50%;
  margin-right: 20px;
}

.mat-button-toggle-checked{
  border: 3px solid #80808070;
}
.product_size {
  margin-top: 5px;
}
.product_size_list button {
  min-width: 48px;
  height: 46px;
  margin-right: 5px;
  font-family: DM Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 46px;
}
.active {
  text-decoration: none;
  background: linear-gradient(180deg, #D53D5E 0%, #8B283D 100%);
  color: white;
}
.product_quantity{
  margin: 16px 0px;
}
.product_quantity button{
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: linear-gradient(180deg, #D53D5E 0%, #8B283D 100%);
  color: white;
  line-height: 17px;
}
.product_quantity span{
  line-height: 17px;
}
.product_quantity h2{
  margin: 0px 5px;
}
.product_availability h4 {
  font-family: Nunito;
  font-weight: 700;
  line-height: 27px;
  text-align: center;
}
.product_availability_zipcode {
  width: 327px;
}
.product_total_amount h2{
  font-weight: 400;
}
hr {
  margin: 0.5rem 0px;
}
.grand_total h2 {
  font-weight: 700;
}
.add_to_cart{
  background: linear-gradient(180deg, #D53D5E 0%, #8B283D 100%);
  color: white;
  border-radius: 15px;
  width: 327px;
  height: 48px;
  font-weight: 700;
  line-height: 22px;
}
.mat-radio-button ~ .mat-radio-button {
  margin-left: 0px;
}


@media (max-width: 1200px){

}

@media (max-width: 920px){

}

@media (max-width: 767px){

}

@media (max-width: 599px){
  .product_main{
    width: 100vw;
    height: 75vh;
  }
  .product_image{
    max-width: 100vw;
    height: 300px;
  }
  .product_image_background {
    max-width: 100vw;
    height: 300px;
    background: rgba(238,251,248,1);
    position: relative;
    overflow: hidden;
  }
  .product_image_background_circle_outer{
    width: 211px;
    height: 210px;
    background: rgba(205,233,230,1);
    opacity: 1;
    position: absolute;
    top: 47px;
    left: 87px;
    border-radius: 50%;
  }
  .product_image_background_circle_inner{
    width: 150px;
      height: 150px;
      background: rgba(187,225,221,1);
      opacity: 1;
      position: sticky;
      top: 77px;
      left: 119px;
      border-radius: 50%;
  }
  .product_image_image{
    position: sticky;
  }
  .product_image_image img{
    position: absolute;
    top: 0px;
    left: -74px;
    transform: rotate(-29deg);
    overflow: hidden;
    max-width: 278px;
    max-height: 384px;
  }
  .back_to_search {
    margin: 5px 0px;
  }
  .favourite {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: linear-gradient(180deg, #D53D5E 0%, #8B283D 100%);
    color: white;
    line-height: 17px;
    font-size: 20px;
    margin-right: 20px;
  }
  .reviews {
    position: relative;
    top: 210px;
    margin: 0px 20px;
  }
  .product_description {
    margin: 35px 22px;
  }
  .product_title {
    font-family: Poppins;
      font-weight: 600;
      font-size: 20px;
      line-height: 27.1px;
      letter-spacing: 0.5px;
  }
  .product_subtitle {
    font-family: Poppins;
    font-weight: 400;
    letter-spacing: 0.5px;
  }
  .product_price {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 135%;
    background-clip: inherit;
    background: -webkit-linear-gradient(180deg, #D53D5E 0%, #8B283D 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .product_description_title {
    font-family: Nunito;
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: 29px;
  }
  .filler {
    flex: 1 auto;
  }
  .product_info {
    font-family: Poppins;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.5px;
    color: #C2C2C2;
  }

  .product_color_list{
    width: 30px;
    height: 30px;
    padding-left: 5px;
    opacity: 1;
    border-radius: 50%;
    margin-right: 20px;
  }
  .mat-button-toggle-checked{
    border: 3px solid #80808070;
  }

  .product_color button:focus {
    border: 3px solid black;
  }
  .product_size {
    margin-top: 5px;
  }
  .product_size_list button {
    min-width: 50px;
    height: 52px;
    margin-right: 5px;
    font-family: DM Sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 52px;
  }
  .active {
    text-decoration: none;
    background: linear-gradient(180deg, #D53D5E 0%, #8B283D 100%);
    color: white;
  }
  .product_quantity{
    margin: 25px 0px;
  }
  .product_quantity button{
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: linear-gradient(180deg, #D53D5E 0%, #8B283D 100%);
    color: white;
    line-height: 17px;
  }
  .product_quantity span{
    line-height: 17px;
  }
  .product_quantity h2{
    margin: 0px 5px;
  }
  .product_availability h4 {
    font-family: Nunito;
    font-weight: 700;
    line-height: 27px;
    text-align: center;
  }
  .product_availability_zipcode {
    width: 327px;
  }
  .product_total_amount{
    margin: 25px 0px;
  }
  .product_total_amount h2{
    font-weight: 400;
  }
  .grand_total h2 {
    font-weight: 700;
  }
  .add_to_cart{
    background: linear-gradient(180deg, #D53D5E 0%, #8B283D 100%);
    color: white;
    border-radius: 15px;
    width: 327px;
    height: 55px;
    font-weight: 700;
    line-height: 22px;
  }
}
