<mat-toolbar class="header" fxLayout>
  <span>
    <img class="logo" alt="logo" src="../../assets/images/logos/iShoes-logo.png">
  </span>
  <span class="filler"></span>
  <div class="navigation" fxHide.lt-sm>
    <a mat-button routerLink="/home">
      Home
    </a>
    <a mat-button routerLink="/products">
      Products
    </a>
    <a mat-button>
      Offers
    </a>
    <a mat-button>
      Services
    </a>
  </div>
  <div class="cart">
    <a routerLink="shoppingcart" mat-icon-button>
      <mat-icon matBadge="{{this.productService.getLocalCartProducts().length}}" matBadgeColor="warn">shopping_cart
      </mat-icon>
    </a>
  </div>
</mat-toolbar>