<mat-toolbar class="header" fxLayout>
  <span><a mat-button style="text-decoration: none; color: white;" routerLink="/">Click&Collect</a></span>
  <span class="filler"></span>
  <div class="navigation" fxHide.lt-sm>
    <a mat-button routerLink="/">
      Home
    </a>
    <a mat-button>
      Products
    </a>
    <a mat-button>
      Offers
    </a>
    <a mat-button>
      Services
    </a>
  </div>
  <div class="cart">
    <a routerLink="shoppingcart" mat-icon-button><mat-icon>shopping_cart</mat-icon></a>
  </div>
</mat-toolbar>
