<div class="my_cart" fxFlex fxLayout.gt-xs *ngIf="cartProducts.length>0">
  <div class="shopping_cart">
    <div class="back_to_product" fxLayout fxHide.gt-xs>
      <button mat-button routerLink="/"><mat-icon>arrow_back_ios</mat-icon></button>
      <h2 fxLayoutAlign="center center" class="my_cart_title">My Cart</h2>
    </div>
    <div class="items">
      <div fxLayout>
        <h2 class="items_header">Items</h2>
        <hr>
      </div>
      <div class="items_list">
        <mat-card class="items_list_item" fxLayout *ngFor="let product of cartProducts; let i=index">
          <div class="item_image_background" [ngStyle]="{backgroundColor: product.color}">
            <img class="item_image" src="{{product.productImage}}" alt="image">
          </div>
          <div fxLayout="column" class="item_des">
            <h2 class="item_name" [ngStyle.xs]="{fontSize: '16px'}">{{product.name}}</h2>
            <h4 class="item_price">${{product.price}}</h4>
          </div>
          <div fxLayout="row" fxLayoutAlign="end end">

            <button mat-icon-button style="padding-top: 8px;" (click)="removeCartProduct(product)"><mat-icon>delete_forever</mat-icon></button>
            <button mat-icon-button class="items_list_button" (click)="onRemoveItem(i)"><mat-icon [ngStyle]="{fontSize: '16px'}">remove</mat-icon></button>
            <h2 [ngStyle]="{margin: '0px 3px'}">{{product.noOfItems}}</h2>
            <button mat-icon-button class="items_list_button" (click)="onAddItem(i)"><mat-icon [ngStyle]="{fontSize: '16px'}">add</mat-icon></button>
          </div>
        </mat-card>
      </div>
    </div>
  </div>

  <mat-card style="margin: auto;">
    <mat-card-content>
      <div class="product_total_amount">
        <div fxLayout>
          <h2>Total:</h2>
          <span class="filler"></span>
          <h2>${{grandtotal}}</h2>
        </div>
        <div fxLayout>
          <h2>Fee:</h2>
          <span class="filler"></span>
          <h2>$0.00</h2>
        </div>
        <hr>
        <div class="grand_total" fxLayout>
          <h2>Grand Total:</h2>
          <span class="filler"></span>
          <h2>${{grandtotal}}</h2>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <div style="text-align: center;">
        <button
        class="add_to_cart"
        mat-raised-button
        (click)="onSubmit()"
        >
          <h3 [ngStyle]="{marginBottom: '0px'}">Proceed to Checkout</h3>
        </button>
      </div>
    </mat-card-actions>
  </mat-card>

</div>
<div class="no-product" *ngIf="cartProducts.length ===0">
  <mat-card>
    <mat-card-title>
      {{messageTitle}}
    </mat-card-title>
    <mat-card-content>
      {{messageDescription}}
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button routerLink="/">Back to shop</button>
    </mat-card-actions>
  </mat-card>

</div>
