.shopping_cart{
  flex: 2;
  margin: 25px 70px;
}
hr{
  width: 260px;
}
.my_cart_title{
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 0px;
}
.items_header{
  margin-left: 25px;
}
.items_list_item{
  margin: 15px;
  position: relative;
}
.item_image_background{
  width: 60px;
  height: 60px;
  background: rgba(205,233,230,1);
  border-radius: 100px;
  margin-right: 15px;
  position: relative;
}
.item_image {
  width: 85px;
  height: 44px;
  transform: rotate(-31deg);
  position: absolute;
  right: -8px;
  top: 5px;
}
.item_des{
  flex: 2;
}
.margin {
  margin: 2.5px;
}
.items_list_button {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: linear-gradient(180deg, #D53D5E 0%, #8B283D 100%);
  color: white;
  line-height: 17px;
}

.product_total_amount{
  flex: 1;
}
.product_total_amount h2{
  font-weight: 400;
}
.grand_total h2 {
  font-weight: 700;
}
.add_to_cart{
  background: linear-gradient(180deg, #D53D5E 0%, #8B283D 100%);
  color: white;
  border-radius: 15px;
  width: 250px;
  height: 40px;
  font-weight: 700;
  line-height: 22px;
  margin: 25px 0px;
}
.filler {
  flex: 1 auto;
}
.no-product{
  text-align: center;
  margin: 15% 30%;
}
.no-product button{
  background: linear-gradient(180deg, #D53D5E 0%, #8B283D 100%);
  color: white;
}

@media (max-width: 599px){
  .shopping_cart{
    margin: 0px;
    display: block;
  }
  .back_to_product{
    width: 100vw;
  }
  .my_cart_title{
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 0px;
  }
  .items_header{
    margin-left: 25px;
  }
  .items_list_item{
    margin: 15px;
    position: relative;
  }
  .item_image_background{
    width: 70px;
    height: 70px;
    background: rgba(205,233,230,1);
    border-radius: 100px;
    margin-right: 15px;
    position: relative;
  }
  .item_image {
    width: 85px;
    height: 44px;
    transform: rotate(-31deg);
    position: absolute;
    right: 0px;
    top: 9px;
  }
  .item_des{
    flex: 2;
  }
  .margin {
    margin: 2.5px;
  }
  .items_list_button {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: linear-gradient(180deg, #D53D5E 0%, #8B283D 100%);
    color: white;
    line-height: 17px;
  }

  .product_total_amount{
    margin: auto;
    display: block;
    width: 90vw;
  }
  .product_total_amount h2{
    font-weight: 400;
  }
  .grand_total h2 {
    font-weight: 700;
  }
  .add_to_cart{
    background: linear-gradient(180deg, #D53D5E 0%, #8B283D 100%);
    color: white;
    border-radius: 15px;
    width: 90vw;
    height: 55px;
    font-weight: 700;
    line-height: 22px;
    margin: 25px 0px;
  }
  .filler {
    flex: 1 auto;
  }

  hr{
    width: 60vw;
  }
  .no-product{
    margin: 20% 15px;
  }

}
