<div class="billing_address" fxLayout="column" fxLayoutAlign="center center">
  <h2>Billing Address</h2>
  <div [formGroup]="billing" class="billing_address_form" fxLayout="column">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" type="text" placeholder="Name">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="text" placeholder="email">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Phone no</mat-label>
      <input matInput formControlName="phoneNo" type="text" placeholder="phoneNo">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Address 1</mat-label>
      <input matInput formControlName="address1" type="text" placeholder="Address 1">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Address 2</mat-label>
      <input matInput formControlName="address2" type="text" placeholder="Address 2">
    </mat-form-field>
  </div>
</div>
