.delivery_type button{
  border: solid #535353 2px;
  width: 84px;
  height: 95px;
  border-radius: 20px;
  margin: 15px;
  opacity: 0.5;
}
.delivery_type button:focus {
  opacity: 1;
}
.pickup_map {
  height: 500px;
}

@media (max-width: 599px){
  .delivery_type button{
    margin: 5px;
  }
  .map-container{
    width: 90vw;
    height: 50vh;
  }
}
