<div class="delivery_type" fxLayout="column" fxLayoutAlign="center center">
  <h2>Delivery type</h2>
  <div>
    <button mat-button disabled><mat-icon>store_front</mat-icon><h4>Store</h4></button>
    <button mat-button (click)="onTypeSelect()"><mat-icon>transfer_within_a_station</mat-icon><h4>Pickup</h4></button>
    <button mat-button disabled><mat-icon>local_shipping</mat-icon><h4>Delivery</h4></button>
  </div>
  <div [formGroup]="shippingMethod">
      <input type="text" formControlName="type" [formControl]="type" style="display: none;">
    <div class="pickup_map" fxLayoutAlign="center center">
      <app-maps [mapHeight]="mapHeight" [mapWidth]="mapWidth"></app-maps>
    </div>
    <div class="pickup_date" >
      <mat-form-field appearance="fill" fxLayoutAlign="center center">
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input  [rangePicker]="picker">
          <input matStartDate formControlName="start" placeholder="Start date">
          <input matEndDate formControlName="end" placeholder="End date">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
    </div>
  </div>
</div>
