<mat-spinner *ngIf="isLoading" style="top: 30%; margin: auto;" color="warn"></mat-spinner>
<mat-card fxLayout class="shop" fxLayoutGap="10px" *ngIf="!isLoading">
  <div class="left-grid" fxHide.lt-md>
    <mat-card class="cards">
      <mat-card-header>
        <mat-card-title>Product Category</mat-card-title>
      </mat-card-header>
      <hr>
      <mat-card-content fxLayout="column">
        <h2>Nike Shoes</h2>
        <h2>Others</h2>
      </mat-card-content>
    </mat-card>
    <mat-card class="cards">
      <mat-card-header>
        <mat-card-title>Top Rated Products</mat-card-title>
      </mat-card-header>
      <hr>
      <mat-card-content fxLayout *ngFor="let product of productList; let i = index;">
        <img src="{{product.productImage}}" alt="img" style="height: 50px;">
        <div fxLayout="column" class="top-rated">
          <a [routerLink]="['/product', i]"><h3>{{product.name}}</h3></a>
          <mat-card-subtitle *ngIf="true">${{product.price}}</mat-card-subtitle>
          <mat-card-subtitle *ngIf="false">Rs. product.productPrice/- <span><del class="discounted">Was Rs. product.productDiscount/-</del></span></mat-card-subtitle>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="cards">
      <mat-card-header>
        <mat-card-title>Product Tags</mat-card-title>
      </mat-card-header>
      <hr>
      <mat-card-content>
        <mat-chip-list aria-label="Fish selection">
          <mat-chip style="background: linear-gradient(
            180deg, #D53D5E 0%, #8B283D 100%);" selected>Nike</mat-chip>
          <mat-chip style="background: linear-gradient(
            180deg, #D53D5E 0%, #8B283D 100%);" selected>Nike Shoes</mat-chip>
          <mat-chip style="background: linear-gradient(
            180deg, #D53D5E 0%, #8B283D 100%);" selected>Power</mat-chip>
          <mat-chip style="background: linear-gradient(
            180deg, #D53D5E 0%, #8B283D 100%);" selected>Power Shoes</mat-chip>
          <mat-chip style="background: linear-gradient(
            180deg, #D53D5E 0%, #8B283D 100%);" selected>Bata Shoes</mat-chip>
          <mat-chip style="background: linear-gradient(
            180deg, #D53D5E 0%, #8B283D 100%);" selected>Service Shoes</mat-chip>
        </mat-chip-list>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="right-grid" fxLayout="column" fxLayoutGap="10px">
    <div class="image-grid">
      <div>
        <img class="title-background" src="../../assets/images/blue.png" alt="background">
      </div>
    </div>
    <div class="panel-grid">
      <div fxLayout fxLayoutAlign="flex-start flex-start" class="third-div">
        <mat-button-toggle-group #group="matButtonToggleGroup">
          <mat-button-toggle (click)="onCardMode()" aria-label="grid_view">
            <mat-icon>grid_view</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle (click)="onListMode()" aria-label="List View">
            <mat-icon>format_align_justify</mat-icon>
          </mat-button-toggle>
        </mat-button-toggle-group>
        <span class="spacer"></span>
        <h3>Showing all {{productList?.length || 0}} results</h3>
      </div>
    </div>
    <div class="row" *ngIf="true">
      <div class="col-sm">
        <div class="float-right">
          <button
            type="button"
            class="btn btn-primary waves-light"
            routerLink="/add-product"
          >
            Add Product
          </button>
        </div>
      </div>
    </div>
    <div class="product-grid">
      <div fxLayout class="forth-div">
        <div fxLayout *ngIf="cardMode" class="products-add" fxLayoutGap.gt-xs="25px">
          <mat-card-content *ngFor="let product of productList; let i= index;">
            <mat-card fxLayout="column" [ngStyle.gt-xs]="{height: '330px'}">
              <a [routerLink]="['/product', i]"><img class="product-image" mat-card-image src="{{product.productImage}}" alt="img"></a>
              <mat-card-content>
                <p>{{product.category}}</p>
                <h1>{{product.name}}</h1>
                <div fxLayout.gt-sm fxLayout.lt-md="column">
                  <h2 *ngIf="true">
                    ${{product.price}}
                  </h2>
                  <h2 *ngIf="false">
                    ${{product.price}} <span><del class="discounted">Was Rs. product.productDiscount}}/-</del></span>
                  </h2>
                  <span class="spacer"></span>
                  <div fxLayout.lt-md fxLayoutAlign.sm="flex-end flex-end">
                    <a type="button" class="product-icon" (click)="addToCart(product)"><fa-icon [icon]="faShoppingCart"></fa-icon></a>
                    <a type="button" class="product-icon" ><fa-icon [icon]="faHeart"></fa-icon></a>
                    <a type="button" class="product-icon"  *ngIf="false"><fa-icon [icon]="faTrash"></fa-icon></a>
                    <a
                      class="product-icon"
                      placement="top"
                      mdbTooltip="Quick Look"
                      container="body"
                      [routerLink]="['/product', i]"
                    >
                      <i class="fa fa-eye"></i>
                    </a>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
        </mat-card-content>

    </div>
    <div *ngIf="listMode">
      <div class="end-div" fxLayout="column">
        <mat-card class="product-card" fxLayout *ngFor="let product of productList">
          <div class="product-image-list">
            <img mat-card-image src="{{product.productImage}}">
          </div>
          <div class="product-details">
            <mat-card-header>
              <p [style.color]="'orange'">Fruits</p>
              <mat-card-title class="product-title">
                {{product.name}}
              </mat-card-title>
              <mat-card-subtitle>
                {{product.subCategory}}
              </mat-card-subtitle>
            </mat-card-header>
            <div fxLayout>
              <h2 *ngIf="true" style="padding-left: 17px;">
                ${{product.price}}
              </h2>
              <h2 *ngIf="false" style="padding-left: 17px;">
                ${{product.price}} <span><del class="discounted">Was ${{product.price}}</del></span>
              </h2>
              <span class="spacer"></span>
              <a type="button" class="product-icon" (click)="addToCart(product)"><fa-icon [icon]="faShoppingCart" style="color: #feab45"></fa-icon></a>
              <a type="button" class="product-icon" ><fa-icon [icon]="faHeart"></fa-icon></a>
              <a
                class="product-icon"
                placement="top"
                mdbTooltip="Quick Look"
                container="body"
                [routerLink]="['/product', 2]"
              >
                <i class="fa fa-eye"></i>
              </a>
            </div>
          </div>
        </mat-card>
        </div>
      </div>
    </div>
   </div>
  </div>
</mat-card>
