@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background: #f2f2f2;}

span.mat-button-toggle-label-content{
  padding: 0px;
}

h1 {
  font-size: 32px;
  line-height: 50%;
  letter-spacing: 0.5px;
}
h2 {
  font-size: 18px;
  font-family: Nunito;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 29px;
}

h3 {
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.5px;
}
h4 {
  font-size: 14px;
  letter-spacing: 0.5px;
  line-height: 50%;
}
h5 {
  font-size: 12px;
  letter-spacing: 0.5px;
  line-height: 50%;
}

